.testimonials {
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--wp--preset--spacing--small);
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
