.testimonial {
    padding: var(--wp--preset--spacing--medium);
    border: 2px solid var(--wp--preset--color--light-medium-gray);
    border-radius: 0.5rem;
    font-family: inherit;
    color: inherit;
    font-size: 1rem;

    p {
        font-size: inherit !important;
    }

    .source {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        img {
            height: 3rem;
            aspect-ratio: 1/1;
            border-radius: 0.25rem;
        }
    }
}
