.posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;

    & > li {
        container-type: inline-size;
        margin: 0;
    }
}

@media (max-width: 1140px) {
    .posts-grid {
        grid-template-columns: auto;
        grid-auto-rows: min-content;
    }
}
