.posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;

    li {
        flex-basis: calc(100% / 3);
        flex-shrink: 1;
        margin: 0;
    }

    .post-card {
        figcaption p {
            font-size: var(--wp--preset--font-size--h-6);
        }
    }
}
